
# Carpetas de compilación
__pycache__/

# Archivos de configuraciones del entorno virtual
venv/

# Configuraciones específicas de IDE's
.vscode/
.idea/

# Archivos estáticos generados
staticfiles/
media/